/* p {
    font-family: "Times New Roman", Times, serif;
}*/

/* p { font-family: "Times New Roman", Times, serif
}*/
    

/* p.italic {  font-style: italic;
}*/

/* p.italic { font-style: italic; } */

p {
    font-family: 'Modern Antiqua', cursive;
    font-size:40px;
}

   
